.navbar {
  background: #222;
  padding: 15px 0;
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar-brand b {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: #fff !important;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #ddd !important;
}

.btn-nav {
  padding: 5px 12px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.btn-nav:hover {
  background: #fff;
  color: #000 !important;
}

.navbar-toggler {
  background-color: #fff;
}